@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9;
  --mainColor: #d47500;
  --mainColorOpacity60: rgb(212, 117, 0, 0.6);
  --blue: #1e90ff;
  --darkBlue: #0847a5;
  --green: #00aa00;
  --white: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: var(--background);
}
.flexCenter {
  @apply flex items-center justify-center;
}
.gapSpace {
  @apply px-4;
}
.underline-text {
  @apply after:content-[''] after:bg-blue-300 after:w-full after:h-[2px] after:absolute after:mt-6 lg:after:mt-4 after:top-1 after:left-0 xl:after:mt-5;
}
.desktop {
  @apply lg:h-12 lg:left-[1%] lg:rounded-sm xl:text-base lg:w-auto lg:justify-center;
}
