@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #efecec;
  --background-90: rgb(239, 236, 236, 0.9);
  --background-dark: rgb(0, 0, 0, 0.9);
  --text-main-color: #000000;
  --text-main-white: #efecec;
  --text-main-dark: #122313;

  --mainColor: #fa8525;
  --mainColorHover: #fa8525de;
  --mainColorOpacity60: rgb(252, 103, 54, 0.6);
  --mainColorOpacity30: rgb(252, 103, 54, 0.3);
  --mainColorOpacity10: rgb(252, 103, 54, 0.1);
  --blue: #1e90ff;
  --darkBlue: #0847a5;
  --green: #00aa00;
  --darkGreen: #045704;
  --white: #ffffff;
}

body {
  background-color: var(--background);
}

.flexCenter {
  @apply flex items-center justify-center;
}
.gapSpace {
  @apply px-4;
}
.underline-text {
  @apply after:content-[''] after:bg-blue-300 after:w-full after:h-[2px] after:absolute after:mt-6 lg:after:mt-4 after:top-1 after:left-0 xl:after:mt-5;
}
.desktop {
  @apply lg:h-12 lg:left-[1%] lg:rounded-sm xl:text-base lg:w-auto lg:justify-center;
}
.photoBar {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.photoBar::-webkit-scrollbar {
  display: none;
}
.gradient-background {
  background: linear-gradient(
    180deg,
    rgba(248, 241, 241, 0),
    rgb(248, 241, 241, 0.95)
  );
}
.gradient-background-down {
  background: linear-gradient(
    180deg,
    rgba(248, 241, 241, 0.85),
    rgb(248, 241, 241, 0)
  );
}
